.infer-box {
    background-color: white;
    width: 95%;
}

.infer-container {
    position: absolute;
    width: 35vw;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    user-select: none;
}

.color-band {
    height: 30px;
}

.color-beam {
    width: 2.5%;
}

.force-sans{
    font-family: "Cabin", sans-serif !important;
}

.sans-font {
    font-family: Arial, Helvetica, sans-serif;
}

.disable-touch-scroll {
    touch-action: none;
}

@media (max-width: 960px) {
    .infer-container {
        width: 80vw;
        top: 0;
        transform: translate(-50%, 0%);
        margin-top: 15vh;
        margin-bottom: 15vh;
    }
}

@media (max-width: 480px) {
    .infer-container {
        width: 95vw;
        top: 50%;
        transform: translate(-50%, -50%);
        margin-top: 0vh;
        margin-bottom: 0vh;
    }
}