.infer-box {
    position: absolute;
    background-color: white;
    box-shadow: dimgray 0px 0px 10px;
    width: 25vw;
    height: 60vh;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    user-select: none;
}

.force-sans{
    font-family: "Cabin", sans-serif !important;
}

.sans-font {
    font-family: Arial, Helvetica, sans-serif;
}