.infer-box {
    position: absolute;
    background-color: white;
    width: 35vw;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    user-select: none;
}

.color-band {
    height: 30px;
}

.force-sans{
    font-family: "Cabin", sans-serif !important;
}

.sans-font {
    font-family: Arial, Helvetica, sans-serif;
}